html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

h1 {
    font-size: 38px;
}

p {
    font-size: 25px;
}


.box {
    position: relative;
    border: 1px solid lightgray;
    margin: 70px;
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #fff;
}

figure {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.name {
    display: block;

    width: 300px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 26px;
}

.review {

    width: 80%;
    font-size: 19px;

}

.arrow {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.arrow img {
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.right {
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* /////////////////////////////////////////////////////////// */

.add {
    margin-bottom: 30px;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    text-align: left;
    font-size: 18px;
    padding: 30px;

}

.text-name {
    width: 420px;
    /* height: 50px; */
    border: 1px solid gray;
    border-radius: 15px;
    /* background-color: #bdbdbd; */
    margin-bottom: 20px;

}

.text-review {
    width: 420px;
    /* height: 180px; */
    border: 1px solid gray;
    border-radius: 15px;
    /* background-color: #bdbdbd; */
    overflow-wrap: break-word;
    text-align: left;
    font-size: 19px;
    padding: 30px;

}

button.send {
    display: block;
    margin-top: 50px;
    width: 200px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 15px;
}